<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('metas') %>
    <title>Flex | About</title>
</head>

<body>
    <%- include('header') %>
    <%- include('nav') %>
    <section>
        <h1>About Us</h1>
        <p>Some content about us.</p>
    </section>
    <%- include('footer') %>
</body>
</html>
