<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('metas') %>
    <title>Flex | Blog</title>
</head>

<body>
    <%- include('header') %>
    <%- include('nav') %>
    <section>
        <h1>Blog</h1>
        <p>Welcome to what we say and how we say it.</p>
    </section>
    <%- include('footer') %>
</body>
</html>
