<footer>
    <div class="footer-1">
        <div>
            <h1>Interesting</h1>
            <a href="#">Final Fantasy</a>
            <a href="#">ICO</a>
            <a href="#">Like a Dragon</a>
            <a href="#">Grand Theft Auto</a>
        </div>
        <div>
            <h1>Things</h1>
            <a href="#">Super Smash Bros</a>
            <a href="#">Metal Gear Solid</a>
            <a href="#">Pokemon</a>
            <a href="#">Shadow of Colossus</a>
        </div>
        <div>
            <h1>Happen Here</h1>
            <a href="#">Kirby</a>
            <a href="#">Donkey Kong Country</a>
            <a href="#">Super Mario</a>
            <a href="#">Super Metroid</a>
            <a href="#">Street Fighter</a>
        </div>
    </div>
    <div class="footer-2">
        &copy; Flex 2024
    </div>
</footer>
