<footer>
    <div class="footer-1">
        <div>
            <h1>Header</h1>
            <p>Useful information goes here for you to see.</p>
        </div>
        <div>
            <h1>Header</h1>
            <p>Useful information goes here for you to see.</p>
        </div>
        <div>
            <h1>Header</h1>
            <p>Useful information goes here for you to see.</p>
        </div>
    </div>
    <div class="footer-2">
        &copy; Flex 2024
    </div>
</footer>
