<footer>
    <div class="footer-top">
        <div>
            <h1>USEFUL LINKS</h1>
            <div><a href="">Home</a></div>
            <div><a href="">Gallery</a></div>
            <div><a href="">Portfolio</a></div>
            <div><a href="">Blog</a></div>
            <div><a href="">Contact</a></div>
            <div><a href="">About</a></div>
        </div>
        <div>
            <h1>NEWSLETTER</h1>
            <input placeholder="Email address" type="text"/>
            <input type="submit" value="Subscribe"/>
        </div>
        <div class="footer-icons">
            <h1>CONTACT</h1>
            <div class="footer-address">
                <p>192 BEATRIX DR</p>
                <p>NORTH YORK, ON U4M 9C4</p>
                <p>CANADA</p>
            </div>
            <a href=""><i class="gg-adidas"></i></a>
            <a href=""><i class="gg-arrow-bottom-right-o"></i></a>
            <a href=""><i class="gg-bookmark"></i></a>
            <a href=""><i class="gg-bitbucket"></i></a>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; MySite 2024</p>
    </div>
</footer>
