<footer>
    <div class="footer-1">
        <div>
            <h1>USEFUL LINKS</h1>
            <div><a href="/about">About</a></div>
            <div><a href="/services">Services</a></div>
            <div><a href="/contact">Contact</a></div>
            <div><a href="/shop">Shop</a></div>
            <div><a href="/blog">Blog</a></div>
        </div>
        <div>
            <h1>NEWSLETTER</h1>
            <div>
                <form method="post" action="/newsletter">
                    <input type="email" placeholder="Email Address" required />
                    <input type="submit" value="SUBSCRIBE NOW" />
                </form>
            </div>
        </div>
        <div>
            <h1>CONTACT</h1>
            <div class="address">
                <p>849 BEATRIX RD</p>
                <p>NORTH YORK, ON M2T 9B5</p>
                <p>CANADA</p>
            </div>
            <div>
                <i class="gg-facebook"></i>
                <i class="gg-google"></i>
                <i class="gg-instagram"></i>
            </div>
        </div>
    </div>
    <div class="footer-2">
        <p>&copy; MyLogo 2024</p>
    </div>
</footer>
