<header>
    <div>
        <img src="https://images.unsplash.com/photo-1496112196184-93846ceb7523?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw3fHx8ZW58MHx8fHx8" alt=""/>
    </div>
    <div class="search-bar">
        <input type="text" placeholder="Search..."/>
        <button>Search</button>
    </div>
</header>
