* {
    box-sizing: border-box;
}

body {
    background: #44445f;
    color: #b8b8d5;
    margin: 0;
    padding: 0;
    font-family: "Reddit Sans Condensed", sans-serif;
}

nav,
header,
footer {
    display: flex;
    flex-direction: column;
    border-top: solid 1px #505050;
}

section {
    display: flex;
    flex-direction: row; /* Change flex-direction to row */
    border-top: solid 1px #505050;
}

nav {
    background: #66667f;
    padding: 2.2rem 6.6rem;
}

.nav-item a {
    text-decoration: none;
    color: #44445f;
    font-size: 1.1rem;
    margin: 10px;
}

.nav-item a:hover {
    text-decoration: underline;
    color: #f3f3f6;
}

.nav-item,
.section-item,
.header-item { flex: 1; }

section {
    padding: 3.3rem;
}

footer {
    width: 100%;
    background: #2a2a2a;
}

.footer-item {
    width: 100%;
    padding: 1.1rem 6.6rem;
    color: #a0a0a0;
    font-size: .9rem;
    text-align: center;
}
