@import url('https://fonts.googleapis.com/css2?family=Jaldi&display=swap');

body {
  font-family: 'Jaldi', sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  color: #424242;
  font-size: 1.4em;
}

header,
nav,
section,
footer { 
  display: flex;
  padding-top: 3.1em;
  padding-bottom: 3.1em;
}

header,
nav,
section > div,
footer { 
  box-sizing: border-box;
  min-height: 100vh;
}

section {
  flex-direction: column;
}

header > div,
nav > div,
section > div,
footer > div { flex: 1; }

header,
footer {
  background: #272727;
  color: #d0d0d0;
  padding-left: 4em;
}

nav { padding-left: 1em; }

section { padding-left: 5.5em; }
